/* Markdown Styling */

/* Markdown Container */

.markdown-class {
  @apply mt-5 p-5;
}

/* Headings */

.markdown-class h1 {
  @apply mt-5 text-3xl;
}
.markdown-class h2 {
  @apply mt-5 text-2xl;
}
.markdown-class h3 {
  @apply mt-5 text-xl;
}
.markdown-class h4 {
  @apply mt-5 text-lg;
}
.markdown-class h5 {
  @apply mt-5 text-base;
}
.markdown-class h6 {
  @apply mt-5 text-sm;
}

.markdown-class a {
  @apply opacity-80 font-bold text-base underline transition-all duration-200 ease-out hover:opacity-100;
}

.markdown-class p {
  @apply mt-2 opacity-80 leading-7 font-normal text-base;
}

.markdown-class strong {
  @apply font-extrabold;
}

.markdown-class hr {
  @apply my-5;
}



/* Markdown Lists */

.markdown-class ol {
  @apply mt-5 ml-5;
}

.markdown-class ol li {
  @apply text-base opacity-80 list-decimal;
}

.markdown-class ul {
  @apply mt-5 ml-5;
}

.markdown-class ul li {
  @apply text-base opacity-80 list-disc;
}

/* BlockQuote */

.markdown-class blockquote {
  @apply p-5 border-l-8 rounded-lg shadow-lg  text-sm bg-slate-200 text-black;
}

.markdown-class blockquote p {
  @apply text-black text-sm;
}

/* Figures */

.markdown-class figure.float-right {
  float: right;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.markdown-class figure.float-left {
  float: left;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.markdown-class figure.center {
  display: table;              /* shrink-wrap to content width */
  margin: 2rem auto;           /* center figure horizontally */
  text-align: right;           /* align caption text relative to figure width */
}


/* Image */

.markdown-class img {
  @apply w-full object-cover rounded-lg shadow-lg;
  float: left;
  margin-right: 1rem; /* space between image and text */
  margin-bottom: 0.5rem; /* spacing below image */
  height: 400px; /* set the height you want */
  width: 400px;
}

.markdown-class img.low-height {
  @apply w-full object-cover rounded-lg shadow-lg;
  height: 400px; /* set the height you want */
}

.markdown-class img.tall {
  @apply object-cover rounded-lg shadow-lg;
  float: left;
  margin-right: 1rem; /* space between image and text */
  height: 600px; /* set the height you want */
  width: 450px;
}

.markdown-class img.collage {
  @apply mx-auto rounded-xl shadow-lg;
  float: none;
  width: 600px;
  height: 600px;
}

.markdown-class img.right {
  @apply object-cover rounded-lg shadow-lg;
  float: right;
  margin-left: 1rem; /* space between image and text */;
  margin-top: 1rem;
  height: 300px; /* set the height you want */
  width: 632px;
}

.markdown-class img.center {
  display: block;         /* ensure it's block-level */
  margin-left: auto;      /* center horizontally */
  margin-right: auto;     /* center horizontally */
  float: none;
  width: 1000px;
  height: auto;
  border-radius: 0.75rem; /* rounded-xl */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Captions */

.markdown-class figcaption {
  margin-top: 0.25rem;
  margin-left: 1rem;
  font-size: 0.875rem; /* text-sm */
  display: block;
  clear: both;
}

.markdown-class figcaption.italic {
  margin-top: 0.25rem;
  margin-right: 1rem;
  font-size: 0.875rem; /* text-sm */
  font-style: italic;
  display: block;
  text-align: right;
  color: #6b7280; /* gray-500 */
}

.markdown-class figcaption.title {
  @apply text-xl font-semibold mb-1 text-center;
  color: #b0b1b4; /* gray-900 */
}